    <head>
    <title>project two</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!-- google fonts "Montserrat" and "Lato" -->
    <link rel="stylesheet" type="text/css" href="/css/styleCategory.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>
</head>
<!-- Add scrollspy to <body> to automatically update navbar links when scrolling -->

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">projectTWO!</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <input type="text" class="form-control" placeholder="Search">
                    <!-- rather than have a submit button, user must hit 'enter' -->
<!--                     <button type="submit" class="btn btn-default">Submit</button>
 -->                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron text-center" id="background">

        <!-- handlebar which displays books/movies/people in jumbotron-->
        <h1>{{catName}}:</h1>
        <ul class = "category-name-container"></ul>
    </div>
    <!-- insert mike code -->
    <div class="row text-center">
        <h3 align="center">Todays Top Four:</h3>
        <div class="top-4-list" align="center">
            <div class="col-lg-3">
                <ul>
                    <li>item one</li>
                    <li>here we will display the the text that is related to the item , the short summary that is entered by the user</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li>item two</li>
                    <li>here we will display the the text that is related to the item , the short summary that is entered by the user</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li>item three</li>
                    <li>here we will display the the text that is related to the item , the short summary that is entered by the user</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li>item four</li>
                    <li>here we will display the the text that is related to the item , the short summary that is entered by the user</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-3">
        </div>
        <form class="create-update-form" action="/post" method="POST">
        <div class="col-sm-6">                       
            <div class="form-group text-left">
                <label for="title">Name:</label>
                <input type="text" class="form-control" id="userImputTitle" name="title">
            </div>
            <div class="form-group text-left">
                <label for="summary">Summary</label>
                <input type="text" class="form-control" id="userImputSummary" name="summary">
            </div>
            <button type="submit" class="btn btn-default">create</button>
            <!-- this will prepend the recently submitted name/summary to the CategoryNameData page -->
        </div>
</form>

        <div class="col-sm-3">
        </div>
    </div>
    <div class="container-fluid bg-grey">
        <div class="row text-center">
            <div class="col-sm-2"></div>
            <!-- every time we add a new post, it needs to be be dynamically and displayed here. we will display last ten submitted summaries, -->
            <div class="col-sm-8">
                     {{#each categoryNameData}}
                <h2><strong>{{title}} </strong></h2>
                <h4><strong>{{summary}}</strong></h4>
                    <br>
                    {{/each}}
                    <!-- second hard coded example that would be created dynamically -->
                <h2><strong>animal farm </strong></h2>
                <h4><strong>orwell illustrated that communism fails and involves several different animals and makes it an easy and digestable read for stupid people</strong></h4>
            </div>
            <!-- end of new creation -->
            <div class="col-sm-2"></div>
        </div>
    </div>
    <br>
    <footer class="footer text-center">
        <p>insert footer here</p>
    </footer>

    <script>
        $('#background').css('background-image', 'url("/css/{{catName}}.jpg")')
    </script>
    </body>

</html>