<!DOCTYPE html>
<html lang="en">

<head>
    <title>project two</title>
    <meta charset="utf-8">

<!-- auth0 user authenticatio script -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- google fonts "Montserrat" and "Lato" -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styleAuth.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

<script type="text/javascript" src="main.js"></script>

</head>
<!-- Add scrollspy to <body> to automatically update navbar links when scrolling -->

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">projectTWO!</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               
            </div>
        </div>
    </nav>
    <div class="col text-center" id="main-section">

        <h1 style="font-size: 60px;">One Sentence Stories</h1>
        <!-- Button 1 Modal -->
        <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
          <!-- Modal -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="loginmodal-container">
                    <p>Login to Your Account</p><br>
                  <form>
                    <input type="text" name="user" placeholder="Username">
                    <input type="password" name="pass" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                  </form>
                    

                </div>
            </div>
        </div>

        <!-- Register -->
        <a href="#" data-toggle="modal" data-target="#register-modal">Register</a>
          <!-- Modal -->
        <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="loginmodal-container">
                    <p>Register</p><br>
                  <form id="registerForm">
                    <input id="username" type="text" name="username" placeholder="Username">
                    <input id="email" type="text" name="email" placeholder="Email">
                    <input id="password" type="password" name="password" placeholder="Password">
                    <input type="submit" name="register" class="login loginmodal-submit" value="Submit">
                  </form>
                    

                </div>
            </div>
        </div>
          
    </div> <!-- End Col ( section ) -->


<!-- Custom Script -->
<script>
    
$(document).ready(function() {

        
        $(document).on("submit", "#registerForm", registerSubmit);

        function registerSubmit(event){

            var usernameInput = $("#username").val();
            var passwordInput = $("#password").val();
            var emailInput = $("#email").val();

             event.preventDefault();
                // Don't do anything if the name fields hasn't been filled out
                if (!nameInput.val().trim().trim()) {
                return;
            }
            // Calling the upsertUser function and passing in the values from the form inputs
            upsertUser({
              name: usernameInput.val().trim(),
              email: emailInput.val().trim(),
              password: passwordInput.val().trim()
            });

            console.log("Username: " + usernameInput);
            console.log("Email: " + emailInput);
            console.log("Password: " + passwordInput);

            // db.Author.create({
            //      name: req.body.title,
            //      password: req.body.summary
            //  })
            // .then(function() {
            //      res.redirect('/category');

            // });

            function upsertUser(userData) {
            $.post("/api/authors", userData)
              .then(getAuthors);
            }

    }

    

});


</script>

</body>


</html>